* {
    padding: 0;
    margin: 0;
}

body {
    width: 90vw;
    height: 90vh;
    margin: 5vw;
}

.wrapper {
    border: 1px solid gray;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column-reverse;
}

.izquierda {
    border: 1px solid aqua;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: flex-end;
}

@media(min-width: 640px){

    .wrapper {
        display: flex;
        flex-direction: row;
    }

    .izquierda {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-start;
        flex-grow: 1;
    }

    .main {
        flex-grow: 10;
    }
 }