body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.btn-modern {
    border: none;
    padding: 8px 16px;
    min-width: 80px;
    min-height: 40px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    color: rgb(50, 30, 19);
    cursor: pointer;
}

.btn-modern:hover {
    transform: translateY(-5px);
    box-shadow: 1px 2px 5px chocolate;
    border: none;
    background-color: rgb(246, 241, 241);
    transition: 0.4s;
}